body {
  margin: 0px;
  background: #0a192f;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Content {
  width: 100%;
}

.Title {
  color: #e6f9fffb;
  margin: 0px;
  font-size: 4.6rem;
}
.Secondary {
  color: #8892b0;
}
.SubTitle {
  margin: 0px;
  font-size: 1.2rem;
  color: #6cb4f6;
}

.Description {
  color: #ffffffdc;
  font-weight: 300;
  font-size: 1rem;
  line-height: 30px;
  margin: 10px 0px 10px;
  max-width: 600px;
}
.Btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #6cb4f6;
  color: #6cb4f6;
  background: linear-gradient(to right, #ffffff34 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}
.Btn:hover {
  background-position: left bottom;
  color: white;
}

.SmallBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 28px;
  padding: 2px;
  width: 150px;
}
.CTA {
  margin-top: 40px;
  font-size: 14px;
  width: 220px;
  padding: 15px;
}
.NavBar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 28px;
  z-index: 20;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
}
.TechUsedCont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.TechUsedCont p {
  font-weight: thin;
  background: #ffffff;
  color: #4f96d8;
  border-radius: 4px;
  /* box-shadow: inset 0px 0px 4px; */
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 12px;
  font-size: 12px;
}
.HeroContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Hero {
  display: flex;
  padding: 50px;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  width: 78%;
  max-width: 1300px;
}

.Icon {
  width: 22px;
}
.Icon:hover {
  opacity: 70%;
}
.LinkCont {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.NavElm {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.Logo {
  width: 130px;
}
.ElmImg {
  width: 18px;
  margin-right: 10px;
}
.Projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  box-shadow: inset 2px 0px 16px #090d1394;
  padding-bottom: 20px;
  background: #0c1522d5;
}
span {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
}
span::after {
  content: "";
  height: 2px;
  background: #6cb4f6;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
span:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.NavElmContainer {
  width: 55vw;
  max-width: 700px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.Scrolled {
  background: #0c1522d5;
}

.ProjectCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 1600px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.ProjectInfo {
  border: 3px solid #ffffff34;
  background: #1128505d;
  /* box-shadow: 2px 0px 10px black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95vw;
  padding: 20px;
  border-radius: 2px;
  max-width: 700px;
  background-image: url("./Swirl.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ProjectImg {
  border-radius: 2px;
  width: 80vw;
  max-width: 370px;
  margin: 20px;
}
.BtnCont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 18px;
}
.Live {
  color: #0c1522c0;
  background: #8892b0;
  margin-left: 30px;
  border: 2px solid white;
}
.Direct {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.Direct span {
  color: #6cb4f6;
  margin-top: 10px;
  cursor: default;
  font-weight: bold;
  text-transform: lowercase;
}
.Direct span::after {
  display: none;
}
.ContactForm {
  background: #15305e5d;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  padding: 10px;
  margin-bottom: 50px;
  border: 2px solid #ffffff5e;
  max-width: 450px;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url("./Swirl.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ContactSection {
  display: flex;
  height: 85vh;
  padding-top: 40px;
  padding-bottom: 90px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.Email {
  font-size: 14px;
  border: none;
  padding: 15px;
  width: 70vw;
  max-width: 400px;
  border-bottom: 5px solid #6cb4f6;
}
.EmailBody {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  border: none;
  padding: 15px;
  width: 70vw;
  max-width: 400px;
  height: 150px;
  border-bottom: 5px solid #6cb4f6;
  resize: none;
}
.ContactMessage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  width: 70vw;
  max-width: 500px;
}
.TechSection {
  height: 85vh;
  display: flex;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}
.TechCont {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  max-width: 900px;
  flex-wrap: wrap;
}
.TechImpWrap {
  margin: 12px;
}
.techImg {
  border-radius: 3px;
  width: 18vw;
  box-shadow: 2px 3px 5px #0000006b;
  max-width: 170px;
}
.Looking {
  font-size: 12px;
}
.ActiveCont {
  display: flex;
  background: #0c121b;
  align-items: center;
  width: 240px;
  justify-content: center;
}
.Footer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #0c1522d5;
  align-items: center;
}
.FootNote {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
  max-width: 1600px;
  width: 100%;
  border-radius: 10px;
}
.Check {
  margin-left: 20px;
}
.ContactIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 20px;
}
.ContactIcons a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  width: 150px;
  justify-content: flex-start;
  text-decoration: none;
  margin-bottom: 25px;
}
.ContactIcons span {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}
.ContactIcons img {
  padding-right: 20px;
}
.Copy {
  margin: 0px;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
}
.Mobile {
  width: 100%;
}
.MobileNavBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: space-evenly;
}
.Menu {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #0c1522f5;
}
.MobileExternal {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.MobileIcon {
  width: 25px;
}
.Big {
  font-size: 1.8rem;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
.PageBox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: Center;
  align-items: center;
  flex-direction: column;
}
.PageIcon {
  width: 10vw;
  max-width: 100px;
  margin-bottom: 30px;
  opacity: 30%;
}
.CTAHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.CTAHolder a {
  margin: 20px;
}
.BackBtn {
  color: white;
  font-size: 15px;
  margin: 20px;
  font-weight: bold;
}
.TitleCont {
  width: 80vw;
  max-width: 800px;
  margin-bottom: 50px;
}
.TitleCont h2 {
  text-align: center;
  font-size: 35px;
}
.MobileNavElm {
  display: flex;
  background: #6cb4f6;
  padding: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin: 30px;
}
.MobileNavElm:hover {
  opacity: 60%;
}
.MobileBtn {
  width: 50vw;
  margin-top: 60px;
}
.MobileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  z-index: -20;
  left: 50vw;
  margin-top: 100px;
}

.gear {
  background-image: url(./icons/BigGear.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
}
.gear2 {
  filter: opacity(38%);
  width: 290px;
  height: 290px;
}
.gear3 {
  width: 170px;
  height: 170px;
  filter: opacity(25%);
  margin: 0 0px -290px -85px;
}
.gear1 {
  width: 222px;
  filter: opacity(15%);
  height: 222px;
  margin: 0 -80px 140px -20px;
}
.Tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  padding: 4px;
  border-radius: 2px;
}
.Tag img {
  width: 15px;
}
.Tag p {
  margin: 0px;
  text-align: left;
  width: 140px;
}
.Tag:hover {
  color: white;
  background: #6cb4f6;
}
/* Tooltip text */
.tooltip .tooltiptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  width: 240px;
  outline: 2px solid #ffffff2f;
  background-color: #0c121b;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  transition: all 0.2s;
  border-radius: 5px;
  bottom: -65px;
  margin-right: 80px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Sho
w the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media screen and (max-width: 986px) {
  .Desktop {
    display: none;
  }
  .TechUsedCont p {
    font-size: 10px;
  }
  .Hero {
    padding-top: 150px;
  }
  .Title {
    font-size: 2.3rem;
  }
  .Description {
    font-size: 14px;
  }
  .BtnCont {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .Hero {
    padding: 20px;
    padding-top: 110px;
  }
  .Live {
    margin: 0px;
    margin-top: 10px;
  }
  .SmallBtn {
    width: 90%;
  }
  .container {
    display: none;
  }
  .ContactIcons {
    max-width: 100%;
    align-items: center;
  }
  .ContactIcons a {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 986px) {
  .Mobile {
    display: none;
  }
}
